{{!< default}}

<main class="site-main">

    {{#if @custom.show_featured_posts}}
        {{> "featured-posts"}}
    {{/if}}

    <header class="feed-header gh-canvas">
        {{#if @custom.feed_title}}
            <h2 class="header-title tc">{{@custom.feed_title}}</h2>
        {{/if}}
    </header>

    <div class="post-feed{{#match @custom.feed_layout "!=" "Minimal"}} expanded{{/match}}{{#match @custom.feed_layout "Right thumbnail"}} right-thumbnail{{/match}}{{#match @custom.feed_layout "Text-only"}} text-only{{/match}} gh-feed gh-canvas">
        {{#foreach posts}}
            {{> "loop"}}
        {{/foreach}}
    </div>

    {{pagination}}

</main>

{{#contentFor "body_class"}} with-full-cover no-cover-image{{#if @member}} logged-in{{/if}}{{/contentFor}}